<a href="https://colab.research.google.com/github/dpnolan/learningBlackScholes/blob/master/LBS_Neural_Net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Google Drive in the virtual machine

In [6]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [210]:
%cd 'MyDrive/LearningBlackScholes'

[Errno 2] No such file or directory: 'MyDrive/LearningBlackScholes'
/gdrive/MyDrive/LearningBlackScholes

In [153]:
!ls *.csv

lbs_3input_data.csv

In [154]:
import pandas as pd

In [155]:
option_df=pd.read_csv('lbs_3input_data.csv')

In [156]:
option_df

       Unnamed: 0      S      X      Time    R  Sigma          Value
0               1    1.0    5.0  0.083333  0.1    0.2  6.649281e-172
1               2    2.0    5.0  0.083333  0.1    0.2   5.727005e-58
2               3    3.0    5.0  0.083333  0.1    0.2   4.015652e-20
3               4    4.0    5.0  0.083333  0.1    0.2   6.113758e-06
4               5    5.0    5.0  0.083333  0.1    0.2   1.366098e-01
...           ...    ...    ...       ...  ...    ...            ...
23995       23996   96.0  100.0  1.000000  0.1    0.2   1.050696e+01
23996       23997   97.0  100.0  1.000000  0.1    0.2   1.117037e+01
23997       23998   98.0  100.0  1.000000  0.1    0.2   1.185239e+01
23998       23999   99.0  100.0  1.000000  0.1    0.2   1.255237e+01
23999       24000  100.0  100.0  1.000000  0.1    0.2   1.326968e+01

[24000 rows x 7 columns]

In [157]:
option_df.columns

Index(['Unnamed: 0', 'S', 'X', 'Time', 'R', 'Sigma', 'Value'], dtype='object')

In [186]:
option_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S       24000 non-null  float64
 1   X       24000 non-null  float64
 2   Time    24000 non-null  float64
 3   R       24000 non-null  float64
 4   Sigma   24000 non-null  float64
 5   Value   24000 non-null  float64
dtypes: float64(6)
memory usage: 1.1 MB

In [187]:
option_df=option_df.drop(labels='Unnamed: 0',axis=1)

KeyError: ignored

In [159]:
from tensorflow import keras

In [188]:
option_df.describe()

,S,X,Time,R,Sigma,Value
count,24000.000000,24000.000000,24000.000000,2.400000e+04,2.400000e+04,2.400000e+04
mean,50.500000,52.500000,0.541667,1.000000e-01,2.000000e-01,1.693901e+01
std,28.866671,28.832007,0.287677,1.387808e-17,2.775615e-17,2.304319e+01
min,1.000000,5.000000,0.083333,1.000000e-01,2.000000e-01,0.000000e+00
25%,25.750000,28.750000,0.312500,1.000000e-01,2.000000e-01,3.746567e-07
50%,50.500000,52.500000,0.541667,1.000000e-01,2.000000e-01,3.529242e+00
75%,75.250000,76.250000,0.770833,1.000000e-01,2.000000e-01,2.931601e+01
max,100.000000,100.000000,1.000000,1.000000e-01,2.000000e-01,9.547581e+01

In [161]:
X=option_df.drop(labels='Value',axis=1)

In [162]:
X

           S      X      Time    R  Sigma
0        1.0    5.0  0.083333  0.1    0.2
1        2.0    5.0  0.083333  0.1    0.2
2        3.0    5.0  0.083333  0.1    0.2
3        4.0    5.0  0.083333  0.1    0.2
4        5.0    5.0  0.083333  0.1    0.2
...      ...    ...       ...  ...    ...
23995   96.0  100.0  1.000000  0.1    0.2
23996   97.0  100.0  1.000000  0.1    0.2
23997   98.0  100.0  1.000000  0.1    0.2
23998   99.0  100.0  1.000000  0.1    0.2
23999  100.0  100.0  1.000000  0.1    0.2

[24000 rows x 5 columns]

In [48]:
import numpy as np

In [163]:
Y=option_df['Value']

In [164]:
Y

0        6.649281e-172
1         5.727005e-58
2         4.015652e-20
3         6.113758e-06
4         1.366098e-01
             ...
23995     1.050696e+01
23996     1.117037e+01
23997     1.185239e+01
23998     1.255237e+01
23999     1.326968e+01
Name: Value, Length: 24000, dtype: float64

In [35]:
Y.argmax()

22099

In [38]:
option_df.iloc[22099]

S        100.000000
X          5.000000
Time       1.000000
R          0.100000
Sigma      0.200000
Value     95.475813
Name: 22099, dtype: float64

In [45]:
from math import log, sqrt, exp
from scipy import stats

In [128]:
from sklearn.preprocessing import StandardScaler

In [165]:
XT=StandardScaler().fit_transform(X)

In [166]:
XT.shape

(24000, 5)

In [167]:
XT

array([[-1.71481604e+00, -1.64750894e+00, -1.59325501e+00,
        -1.38777878e-17, -2.77555756e-17],
       [-1.68017329e+00, -1.64750894e+00, -1.59325501e+00,
        -1.38777878e-17, -2.77555756e-17],
       [-1.64553055e+00, -1.64750894e+00, -1.59325501e+00,
        -1.38777878e-17, -2.77555756e-17],
       ...,
       [ 1.64553055e+00,  1.64750894e+00,  1.59325501e+00,
        -1.38777878e-17, -2.77555756e-17],
       [ 1.68017329e+00,  1.64750894e+00,  1.59325501e+00,
        -1.38777878e-17, -2.77555756e-17],
       [ 1.71481604e+00,  1.64750894e+00,  1.59325501e+00,
        -1.38777878e-17, -2.77555756e-17]])

In [168]:
from keras.models import Sequential
from keras.layers import Dense
# create model
model = Sequential()
model.add(Dense(4, input_dim=5, activation='sigmoid'))
model.add(Dense(1, activation='linear'))

In [169]:
import matplotlib.pyplot as plt

In [170]:
from keras.optimizers import SGD

In [171]:
opt=SGD(learning_rate=0.1)

In [172]:
from tensorflow.keras import layers

In [204]:
model.compile(loss='mse', optimizer=opt,metrics=['mse'])

In [205]:
model.fit(XT, Y,epochs=30)

Epoch 1/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2903 - mse: 1.2903
Epoch 2/30
750/750 [==============================] - 1s 1ms/step - loss: 1.2967 - mse: 1.2967
Epoch 3/30
750/750 [==============================] - 1s 2ms/step - loss: 1.3113 - mse: 1.3113
Epoch 4/30
750/750 [==============================] - 1s 2ms/step - loss: 1.3614 - mse: 1.3614
Epoch 5/30
750/750 [==============================] - 1s 2ms/step - loss: 1.4478 - mse: 1.4478
Epoch 6/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2853 - mse: 1.2853
Epoch 7/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2885 - mse: 1.2885
Epoch 8/30
750/750 [==============================] - 1s 2ms/step - loss: 1.3409 - mse: 1.3409
Epoch 9/30
750/750 [==============================] - 1s 2ms/step - loss: 1.3095 - mse: 1.3095
Epoch 10/30
750/750 [==============================] - 1s 1ms/step - loss: 1.2942 - mse: 1.2942
Epoch 11/30
750/750 [==============================] - 1s 2ms/step - loss: 1.3389 - mse: 1.3389
Epoch 12/30
750/750 [==============================] - 1s 1ms/step - loss: 1.2000 - mse: 1.2000
Epoch 13/30
750/750 [==============================] - 1s 2ms/step - loss: 1.4614 - mse: 1.4614
Epoch 14/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2108 - mse: 1.2108
Epoch 15/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2929 - mse: 1.2929
Epoch 16/30
750/750 [==============================] - 1s 2ms/step - loss: 1.4452 - mse: 1.4452
Epoch 17/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2984 - mse: 1.2984
Epoch 18/30
750/750 [==============================] - 1s 2ms/step - loss: 1.3658 - mse: 1.3658
Epoch 19/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2584 - mse: 1.2584
Epoch 20/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2757 - mse: 1.2757
Epoch 21/30
750/750 [==============================] - 1s 2ms/step - loss: 1.4592 - mse: 1.4592
Epoch 22/30
750/750 [==============================] - 1s 1ms/step - loss: 1.3001 - mse: 1.3001
Epoch 23/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2200 - mse: 1.2200
Epoch 24/30
750/750 [==============================] - 1s 2ms/step - loss: 1.5662 - mse: 1.5662
Epoch 25/30
750/750 [==============================] - 1s 2ms/step - loss: 1.1934 - mse: 1.1934
Epoch 26/30
750/750 [==============================] - 1s 2ms/step - loss: 1.4127 - mse: 1.4127
Epoch 27/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2334 - mse: 1.2334
Epoch 28/30
750/750 [==============================] - 1s 2ms/step - loss: 1.2516 - mse: 1.2516
Epoch 29/30
750/750 [==============================] - 1s 2ms/step - loss: 1.3888 - mse: 1.3888
Epoch 30/30
750/750 [==============================] - 1s 2ms/step - loss: 1.4909 - mse: 1.4909

In [207]:
scores = model.evaluate(XT, Y, verbose=2)
print("%s: %.2f" % (model.metrics_names[0], scores[0]))

750/750 - 2s - loss: 1.0942 - mse: 1.0942 - 2s/epoch - 2ms/step
loss: 1.09

In [ ]:
model_new.compile(loss='mse', optimizer ='', metrics=['accuracy'])

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20)
model_new.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=30, batch_size=10, verbose=0, callbacks=[history])
scores = model_new.evaluate(X_test, y_test, verbose=0)
print("%s: %.2f%%" % (model_new.metrics_names[1], scores[1]*100))

In [177]:
X.shape

(24000, 5)

In [179]:
X

           S      X      Time    R  Sigma
0        1.0    5.0  0.083333  0.1    0.2
1        2.0    5.0  0.083333  0.1    0.2
2        3.0    5.0  0.083333  0.1    0.2
3        4.0    5.0  0.083333  0.1    0.2
4        5.0    5.0  0.083333  0.1    0.2
...      ...    ...       ...  ...    ...
23995   96.0  100.0  1.000000  0.1    0.2
23996   97.0  100.0  1.000000  0.1    0.2
23997   98.0  100.0  1.000000  0.1    0.2
23998   99.0  100.0  1.000000  0.1    0.2
23999  100.0  100.0  1.000000  0.1    0.2

[24000 rows x 5 columns]

In [181]:
X.iloc[22099]

S        100.0
X          5.0
Time       1.0
R          0.1
Sigma      0.2
Name: 22099, dtype: float64

In [182]:
Y.iloc[22099]

95.4758129098202

In [ ]:
S        100.000000
X          5.000000
Time       1.000000
R          0.100000
Sigma      0.200000
Value     95.475813

In [190]:
option_df['S'].mean()

50.5

In [191]:
option_df['S'].std()

28.86667144297511

In [194]:
option_df['Value'].mean()

16.939010907365937

In [195]:
option_df['Value'].std()

23.043185273941155

In [208]:
model.evaluate(X,Y)

750/750 [==============================] - 1s 1ms/step - loss: 1707.9988 - mse: 1707.9988

[1707.998779296875, 1707.998779296875]

In [209]:
model.predict(X,Y)

ValueError: ignored