<a href="https://colab.research.google.com/github/dpnolan/learningBlackScholes/blob/master/LBS_Neural_Net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Google Drive in the virtual machine

In [6]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [8]:
%cd 'MyDrive/LearningBlackScholes'

/gdrive/MyDrive/LearningBlackScholes

In [12]:
!ls *.csv

lbs_3input_data.csv

In [13]:
import pandas as pd

In [14]:
pd.read_csv('lbs_3input_data.csv')

       Unnamed: 0      S      X      Time    R  Sigma          Value
0               1    1.0    5.0  0.083333  0.1    0.2  6.649281e-172
1               2    2.0    5.0  0.083333  0.1    0.2   5.727005e-58
2               3    3.0    5.0  0.083333  0.1    0.2   4.015652e-20
3               4    4.0    5.0  0.083333  0.1    0.2   6.113758e-06
4               5    5.0    5.0  0.083333  0.1    0.2   1.366098e-01
...           ...    ...    ...       ...  ...    ...            ...
23995       23996   96.0  100.0  1.000000  0.1    0.2   1.050696e+01
23996       23997   97.0  100.0  1.000000  0.1    0.2   1.117037e+01
23997       23998   98.0  100.0  1.000000  0.1    0.2   1.185239e+01
23998       23999   99.0  100.0  1.000000  0.1    0.2   1.255237e+01
23999       24000  100.0  100.0  1.000000  0.1    0.2   1.326968e+01

[24000 rows x 7 columns]